body {
  /*background-image: url('sf.jpg');*/
  background: url(sfk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.success{
  padding-bottom: 30px;
}
.enter{
  font-family: Verdana;
  color:white;
}
.container-fluid{
  background-color: #006399;
}

/*.nav{
  background-color: red
}*/
/*.whiteBackround{
  background-color: white;
}*/